In [7]:
import pandas as pd
import pprint as pp

In [2]:
data_dir = './data/'

In [3]:
location = pd.read_pickle(data_dir + 'mediumLocation.pickle')

In [4]:
def take(n, dict_obj):
    new_dict = {}
    count = 1
    for key,val in dict_obj.items():
        new_dict[key] = val
        count += 1
        if (count > n) : break
    return new_dict

In [9]:
pp.pprint(take(12, location))

{'U1313': ['norfolk virginia area'],
 'U14078': ['stockholm sweden'],
 'U1417': ['baltimore maryland area'],
 'U22859': ['bengaluru area india'],
 'U27476': ['greater new york city area'],
 'U27759': ['urbana-champaign illinois area'],
 'U4665': ['greater chicago area'],
 'U6021': ['urbana-champaign illinois area'],
 'U7310': ['greater seattle area'],
 'U8804': ['bologna area italy'],
 'U9628': ['greater los angeles area'],
 'U9721': ['urbana-champaign illinois area']}

In [11]:
employer = pd.read_pickle(data_dir + 'mediumEmployer.pickle')
college = pd.read_pickle(data_dir + 'mediumCollege.pickle')

In [12]:
pp.pprint(take(5, employer))
print('\n')
pp.pprint(take(5, college))

{'U1313': ['discovery education',
           'ctb mcgraw-hill',
           'university of charleston university of south carolina',
           'south carolina department of education',
           'chesapeake va and sumter sc',
           'virgina state corrections'],
 'U21998': ['illinois college advising corps',
            'victoria amplifiers',
            'university of illinois at chicago'],
 'U27476': ['ibm',
            'nyse euronext',
            'skim.me',
            'shanghai pudong development bank',
            'qad'],
 'U4665': ['technology services group - chicago', 'ge healthcare'],
 'U8804': ['gruppo euris spa',
           'iconsulting',
           'econoetica',
           'universit&#xe0; di bologna',
           'university of illinois at urbana-champaign']}


{'U1313': ['longwood university'],
 'U22041': ['university of illinois at urbana-champaign'],
 'U27476': ['shanghai jiao tong university'],
 'U4665': ['university of illinois at urbana-champaign'],
 'U8804': ['universit&#xe0; di bologna']}

In [19]:
location_empty = pd.read_pickle(data_dir + 'mediumLocation_60percent_of_empty_profile.pickle')
print(take(2, location_empty))
print('here') if 'U2747' in location_empty else print('non')

{'U1313': ['norfolk virginia area'], 'U8804': ['bologna area italy']}
non

In [20]:
print(len(location))
print(len(location_empty))

811
336

In [16]:
# are all 1 single element arrays ? Location yes, employers and college no
for key, lieu in location.items():
    if len(lieu) > 1 : print(lieu)